body {
//	background-color: blue;
}

#masthead {
	padding: 4px;
	text-align: center;
	height: 65px;
}

#datetime {
	width: 150px;
	display: inline-block;
	float: left;
}

#mastheadLogo {
/*	padding-left: 150px; */
}

.hero-unit {
	padding-top: 20px;
	padding-left: 35px;
	padding-bottom: 20px;
}

#registrations {
	text-align: right;
	float: right;
	display: inline-block;
	width: 150px;
}

h3 {
	margin-top: 2px;
	margin-bottom: 2px;
	line-height: 1.3em;
	color: #005580;
}

h4 {
	color: #005580;
}

h6 {
	color: #005580;
}