<html>
<head lang="en">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/homepage.css">

</head>
<body>
    <div class="container" style="border: 1px solid lightgrey">
      <div id="masthead" style="border-bottom: 1px solid lightgrey">
          <div id="datetime">
            <a href="#" style="float:left; padding-left:15px; color:black;">August 23, 2012</a>
          </div>
          <a href="/"><img id="mastheadLogo" width="360" height="54" alt="Web Op-ed" src="{{ STATIC_URL }}img/weboped.png"></a>

          <div id="registrations" style="padding-right:15px;">
            {% if user.is_authenticated %}
            <a href="/user/{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</a>
            <a href="/logout">Logout</a>
            {% else %}
            <a href="/register">Login</a>
            {% endif %}
          </div>
      </div>
      <!-- Main hero unit for a primary marketing message or call to action -->

      {% block whitecontent %}
      {% endblock %}

      <div>
        <p> &nbsp; </p>
      </div>
      <div class="hero-unit">
            {% block content %}
            {% endblock %}
      </div>
     <!-- <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-body" style="font-size:large">
          <p>This project was built as a proof-of-concept news site with Python/Django on Heroku.</p>
          <p>&nbsp;</p>
          <p>It was created so that your opinions could be put directly online. When you become a writer (don't worry, it's free), you have access to the voting tallies to determine whose articles go on the front page. The fate of this online newspaper is in your hands.</p>
        </div>
        <div class="modal-footer">
          <a class="btn btn-primary btn-large" href="/about">Learn more &raquo;</a> &nbsp; &nbsp; &nbsp; <a class="btn btn-primary btn-large" href="/register">Sign up! &raquo;</a>
        </div>
      </div>
      -->

      {% block belowcontent %}
      {% endblock %}
      <hr>

      <footer>
        <p>&nbsp; &copy; Web Op-Ed 2012</p>
      </footer>

    </div>






    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js">
    </script>

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-33986006-1']);
        _gaq.push(['_trackPageview']);

        (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();

    </script>

      {% block scriptcontent %}
      {% endblock %}
</body>
</html>
