{% extends "base.html" %}

{% block content %}
	<div id="closebutton" style="display:inline; float:left; margin-top:-15px; margin-left:-20px; cursor:pointer;">
		x
	</div>
	<p>This project was built as a proof-of-concept news site with Python/Django on Heroku.</p>

	<p>It was created so that your opinions could be put directly online. When you become a writer (don't worry, it's free), you have access to the voting tallies to determine whose articles go on the front page. The fate of this online newspaper is in your hands.</p>

	<p>Journalism. For the people, by the people.</p>

	<p><a class="btn btn-primary btn-large" href="/about">Learn more &raquo;</a> &nbsp; &nbsp; &nbsp; <a class="btn btn-primary btn-large" href="/register">Sign up! &raquo;</a></p>
{% endblock %}

{% block whitecontent %}
{% endblock %}

{% block belowcontent %}
  <div id="votingpage" style="margin-left:15px;">
  <ul type="none">
    {% for article in articles %}
    <li><a href="/">{{ article.title }}</a></li>
    <p> &nbsp; </p>
    {% endfor %}
    </ul>
  </div>
{% endblock %}

{% block scriptcontent %}
    <script>
      $(document).ready(function(){
        {% if user.is_authenticated %}
          hideInfoBox();
        {% endif %}
      // $(".modal").modal('show');
        $("#closebutton").click(function(){
          hideInfoBox();
        });
      });

      function hideInfoBox() {
        $(".hero-unit").hide();
      }
    </script>
{% endblock %}