{% extends "base.html" %}

{% block content %}

<div class="sector-form">
    <div class="main-title">
        <h3>Publish an article!</h3>
    </div>
    <div id="publish-form">
    <form action="/publish" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="fieldWrapper">
            {{ form.title.errors }}
            <label for="id_title">Title:</label>
            <div class="standardform">
                {{ form.title }}
            </div>
        </div>
        <div class="fieldWrapper">
            {{ form.message.errors }}
            <label for="id_text">Text:</label>
            <div class="standardform">
                {{ form.text }}
            </div>
        </div>
        <p>
            <label for="publish"></label>
            <input type="submit" value="Publish" />
        </p>
    </form>
    </div>
</div>

{% endblock %}
